<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleConnection" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = EH-EKO-INFOSYS4)(PORT = 1526))(CONNECT_DATA = (SID = isysameh))); User ID=usr_test; Password=testuser; Persist Security Info=True; Pooling = false;" providerName="System.Data.OracleClient" />
	</connectionStrings>
</configuration>

<!--=====================-->

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	
	<userSettings>
		<WinFormsApp_Druckertool_WWW.Properties.Settings>
			<setting name="CheckboxStates" serializeAs="String">
				<value />
			</setting>
		</WinFormsApp_Druckertool_WWW.Properties.Settings>
	</userSettings>
</configuration>-->