<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WinFormsApp_Druckertool_WWW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="OracleConnection" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = EH-EKO-INFOSYS4)(PORT = 1526))(CONNECT_DATA = (SID = isysameh))); User ID=usr_test; Password=testuser; Persist Security Info=True; Pooling = false;" providerName="System.Data.OracleClient" />
	</connectionStrings>
 <userSettings>
  <WinFormsApp_Druckertool_WWW.Properties.Settings>
   <setting name="CheckboxStates" serializeAs="String">
    <value />
   </setting>
  </WinFormsApp_Druckertool_WWW.Properties.Settings>
 </userSettings>
</configuration>